@media only screen and (max-width: 904px) {

	.tr1 {
		height: 680px;
	}

	.tr2 {
		height: 340px;
	}

@media only screen and (max-width: 807px) {

	.tr1 {
		height: 730px;
	}

	.tr2 {
		height: 390px;
	}

	.col-full, .col-left-two, .col-right-two, .col-left-two-three, .col-right-two-three, .col-left-three, .col-middle-three, .col-right-three {
    width: 100%;
    margin-left: 0;
    float: none;
    height: auto;
    }

	#mgf-facebook {
		display: none;
	}

    .fb-plugin-large {
    	display: none;
    }

    .fb-plugin-mobile {
    	display: inline;
    }

    #ebook.col-right-two {
    	float: left;
    }

    p {
    	line-height: 21px;
    }

	.wrapper {
		width: 97%;
	}

	h1 {
		font-size: 2.5em;
	}

	.slate {
		padding: 0px 0px 10px;
	}

	.slick-prev::before {
		display: none;
	}

	.slick-next::before {
		display: none;
	}

}

@media only screen and (max-width: 700px) {

	#navbar nav a {
		font-size: 15px;
	}

}

@media only screen and (max-width: 650.1px) {

	.dropdown:hover #dropdown-content1, 
	.dropdown:hover #dropdown-content2 {
		display: none;
	}
	
}

@media only screen and (max-width: 650px) {

	#logo h2 {
	  width: 115px;
	  height: 78.3333333px;
	  background-image: url(../images/mgf-sized.png);
	  background-size: 100%;
	  background-repeat: no-repeat;
	}

	#menu-links {
		display: none;
		background: black;
		clear: both;	
	}

	.mobile-drop {
		visibility: visible;
		z-index: 10000;
		transform: none;
	}

		

	/* 
	#navbar nav a.menu-icon {
	    display: block;
	    float: left;
	    font-size: 1.8em;
	    padding: 0px 15px 6px;
	    width: auto;
	}

	#navbar nav a.menu-icon:selected {
		display: none;
	}
	*/

	#navbar nav a {
		display: block;
		width: 100%;
		border-left: 0;
		text-align: left;
		padding: 10px;
		color: white;
		text-decoration: none;
		clear: both;
		font-size: 16px;
	}

	#navbar .dropdown {
		display: block;
		width: 100%;
		border-left: 0;
		text-align: left;
		color: white;
		text-decoration: none;
		clear: both;
		font-size: 16px;
	}

	.mobile-padding {
		margin-bottom: 88px;
	}

	#dropdown-content1 {
		transition: none;
		visibility: hidden;
		z-index: 10000;
		transform: none;
	}

	#dropdown-content2 {
		transition: none;
		visibility: hidden;
		z-index: 10000;
		transform: none;
	}	

	.arrow-up {
	  display: none;
	}

	.arrow-down {
	  display: none;
	}

	.arrow-up {
	  width: 0;
	  height: 0;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid white;
	  display: inline-block;
	  vertical-align: middle;
	}

	#navbar nav .hamburger {
	  padding: 14px 0px 10px 5px;
	  display: block;
	  cursor: pointer;
	  transition-property: opacity, filter;
	  transition-duration: 0.15s;
	  transition-timing-function: linear;
	  font: inherit;
	  color: white;
	  text-transform: none;
	  background-color: transparent;
	  border: 0;
	  overflow: visible;
	  text-align: left; }

	.hamburger:hover {
	    opacity: 0.7; }

	.hamburger:focus {
	    outline: none; }    

	.hamburger-box {
	  width: 30px;
	  height: 24px;
	  display: inline-block;
	  position: relative; }

	.hamburger-inner {
	  display: block;
	  top: 50%;
	  margin-top: -2px; }

	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	    width: 30px;
	    height: 3px;
	    background-color: #fff;
	    border-radius: 15px;
	    position: absolute;
	    transition-property: transform;
	    transition-duration: 0.15s;
	    transition-timing-function: ease; }

	.hamburger-inner::before, .hamburger-inner::after {
	    content: "";
	    display: block; }

	.hamburger-inner::before {
	    top: -10px; }

	.hamburger-inner::after {
	    bottom: -10px; }

}

@media only screen and (max-width: 500px) {
	#pricing th {
		font-size: 15px;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	#pricing td {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}

@media only screen and (max-width: 431px) {
	h1 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 342px) {
	h1 {
		font-size: 1.5em;
	}
}
