@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee|Open+Sans+Condensed:300,700|Oswald:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/*/////////// GLOBAL STYLES ////////*/

body {
  font-size: 100%;
}

h1 {
  font-family: 'Black Ops One', cursive;
  font-size: 3em;
  margin-bottom: 5px;
  margin-top: 0px;
}

h2 {
  margin: 0px 0px 10px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  line-height: 28px;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: italic;
}

ul, ol {
  margin-bottom: 10px;
}

li {
  margin-left: 0;
  font-size: 14px;
  padding-bottom: 5px;
}

p, address, li, td {
  font-size: 14px;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
}

th {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

table {
  margin: 0 0 10px;
}

td {
  font-size: 14px;
}

iframe {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/*///////// CONTACT FORM /////////*/

input, textarea {
  padding: 6px 0px 6px 5px;
  margin: 10px 0px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f2f2f2;
  resize: none;
}

input[type=submit] {
  padding: 8px 0px;
  margin: 10px 0px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #cd2027;
  border-radius: 3px;
  background-color: #cd2027;
  color: white;
}

input[type=submit]:hover {
  background-color: #ab1a20;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  outline: none;
  background-color: white;
  box-shadow: 0px 0px 5px #32a3ff;
  border: 1px solid #32a3ff;
}

/*/////////// MAIN SECTIONS ////////////*/

section {
  padding: 20px 30px 30px;
  margin-bottom: 20px;
  background: white;
  border-radius: 5px;
}

/*////////// MEDIA ///////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*/////////// FIXES ///////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}

/*/////////// LAYOUT ////////////*/

.slideshow-container, .wrapper, .secondary {
    max-width: 960px;
    margin: 0 auto;
}

.secondary {
  padding-top: 10px;
}

.slideshow-container img {
    max-width: 100%;
}

.col-full {
  width: 100%;
  float: left;
}

.col-left-two {
  float: left;
  width: 49%;
}

.col-right-two {
  float: left;
  width: 49%;
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

.col-left-two-three {
  width: 66%;
  float: left;
}

.col-right-two-three {
  width: 32%;
  margin-left: 2%;
  float: left;
}

.col-left-three {
  width: 32%;
  float: left;
}

.col-middle-three {
  width: 32%;
  margin-left: 2%;
  float: left;
}

.col-right-three {
  width: 32%;
  margin-left: 2%;
  float: left;
}

#testimonial p {
  line-height: 23px;
}

/*////////// BACKGROUNDS ////////////*/

.slate {
    background-color: #bbb;
    background-size: cover;
    padding: 0px 30px 10px;
}

/*////////// PRICING TABLE //////////*/

#pricing {
    border-collapse: collapse;
    width: 100%;
}

#pricing td, #pricing th {
    border: 1px solid #ddd;
    padding: 6px 4px 6px 6px;
}

#pricing tr:nth-child(even){background-color: #f2f2f2;}

#pricing tr:hover {background-color: #ddd;}

#pricing th {
    padding: 8px 6px;
    text-align: left;
    background-color: #cd2027;
    color: white;
    font-size: 16px;
}

.table-bottom {
    padding-top: 20px;
}

.table-top {
    padding-top: 20px;
}

/*////////// NAV BAR //////////*/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  background-color: #000;
}

#navbar nav a {
  display: inline-block;
  margin: auto;
  padding: 14px 20px;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  background-color: #000;
  font-family: 'Oswald', Arial, sans-serif;
  vertical-align: bottom;
/*  border-bottom: 1px solid #000;
  border-top: 1px solid #fff; */
}

/* .navmiddle {
    border-right: 1px solid #fff;
} */

#navbar nav a.selected, 
#navbar nav #dropdown-content1 a.selected, 
#navbar nav #dropdown-content2 a.selected {
  background: #cd2027;
  color: white;
}

#navbar nav a.drop-select {
  border-left: #cd2027 10px solid;
}

#navbar nav a:hover {
  transition: 0.3s;
  background: #cd2027;
  color: white;
}

#navbar nav a:active {
  background: #ab1a20;
  color: white;
}

/* #navbar nav .menu-icon {
  display: none;
} */

#navbar nav .hamburger {
	display: none;
}

.arrow-down1, .arrow-down2 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  display: inline-block;
  vertical-align: middle;
}

.arrow-up1, .arrow-up2 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  border-top:5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
}

/*///////// HEADER ///////////*/

#logo h2 {
  width: 172.5px;
  height: 117.5px;
  background-image: url(../images/mgf-sized.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#logo h2 span {
  display: none;
}

#logo {
  padding: 15px 0px 0;
}

#logo h1 {
  padding: 0px;
}

header {
  margin: 46px 0 0;
}

.line {
  background-color: black;
  height: 1px;
  width: 100%;
}

/*///////// SECTIONS /////////*/

#contact-h1 {
  margin-bottom: -5px;
}

.bookpic {
  width: 115px;
  height: 154px;
  float: left;
  margin-right: 30px;
}

.booktext {
  float: left;
}

#map p {
  line-height: 20.5px;
}

#testimonial p {
  padding-top: 0px;
  margin-top: 0px;
}

#about p {
  padding-top: 0px;
  margin-top: 0px;
}

.disclaimer {
  font-style: italic;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

#ebook ol {
  padding: 0px;
}

.tr1 {
  height: 600px;
}

.tr2 {
  height: 290px;
}

.fb-plugin-mobile {
  display: none;
}

/*////////// ACCORDION /////////*/

.accordion-open-first {
  padding-top: 10px;
}

.inner-panel {
  padding-bottom: 15px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    margin: 0px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active {
    background-color: #ddd;
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
}

button.accordion:hover {
    background-color: #ddd;
    transition: 0.3s;
}

/* Style the accordion panel. Note: hidden by default */
section.panel {
    padding: 0px 25px 0px;
    background-color: white;
    border-radius: 0px;
    box-shadow: 0 0 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    border-radius: 0 0 5px 5px;
}

.panel.show {
    opacity: 1;
}

button.accordion:after {
content: '\002B'; /* Unicode character for "plus" sign (+) */
font-size: 19px;
color: #777;
font-weight: bold;
float: right;
margin-left: 5px;
}

button.accordion.active:after {
content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.list-accord li {
  line-height: 18px;
}

/*////////// FOOTER //////////*/

footer {
    text-align: center;
    clear: both;
    background-color: #cd2027;
    padding: 20px 0 10px;
    color: #eee;
}

#social a {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: 100%;
    overflow: hidden;
    margin: 0px 10px;
    wrap: no-wrap;
}

a.facebook, a.instagram {
    background: url(../images/sprites-social.png) no-repeat;
}

a.facebook {background-position: -48px 0}
a.facebook:hover {background-position: -48px -48px;}

a.instagram {background-position: -240px 0}
a.instagram:hover {background-position: -240px -48px;}


/*////////// CAROUSEL //////////*/

.slick-dots li button:before {
  font-size: 10px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

/*////////// DROPDOWN MENU //////////*/

.dropdown {
	position: relative;
	display: inline-block;
}

#dropdown-content1, 
#dropdown-content2 {
	visibility: hidden;
	position: absolute;
	background-color: black;
	z-index: -1;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-7em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

#navbar #dropdown-content1 a, 
#navbar #dropdown-content2 a {
	display: block;
	text-align: left;
  background-color: #444;
}

#navbar #dropdown-content1 a:hover, 
#navbar #dropdown-content2 a:hover {
  transition: 0.3s;
  background: #cd2027;
  color: white;
}

.dropdown:hover #dropdown-content1, 
.dropdown:hover #dropdown-content2 {
  visibility: visible; 
  opacity: 1;
  z-index: 1000;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}


